---
layout: page
title: Group
heading: Heterogeneous and Reconfigurable Computing
permalink: /group/
order: 3
type: top-level
---
<div class="group">
<center><img style="width:50%" src="/assets/img/herc_logo.jpg"/></center>
<h2>Mission</h2>
<p style="text-align:justify; text-justify: inter-word; margin-bottom:30px;">
The Heterogeneous and Reconfigurable Computing (HeRC) Lab develops technologies
that enable the practical application of emerging and special-purpose processing
technologies for scientific and real-time embedded computing.  This includes
field programmable, massively parallel, and processor-in-memory architectures.
The lab develops artifacts that include development tools, programmer
abstractions, and deployed applications, and also performs comparative analyses
of competing architectures.
</p>
</div>
<br style="clear:both">


<br><br>
<div class="group">
<h2>Current Members</h2>
</div>
<br>
{% assign current_members = site.data.members | where: "status", "current" %}
{% for member in current_members %}
  <div class="polaroid">
    <img src="/assets/img/{{member.img}}" class="group_photo"/>
    <div class="my_container">
      {{member.name}}<br/>
  	  {{member.country}}<br/>
      {{member.title}}
    </div>
  </div>
{% endfor %}




<br style="clear:both">
<br><br><br><br>
<div class="group">
<h2>Alumni Members</h2>
</div>
<br>
{% assign alumni_members = site.data.members | where: "status", "alumnus" %}
{% for member in alumni_members %}
  <div class="polaroid">
    <img src="/assets/img/{{member.img}}" class="group_photo"/>
    <div class="my_container">
      {{member.name}}<br/>
  	  {{member.year}}<br/>
      {{member.title}}<br/>
    </div>
  </div>
{% endfor %}
<br style="clear:both">
