---
layout: page
title: Projects
heading: Current Projects
permalink: /projects/
order: 2
type: top-level
---



{% for p in site.data.projects %}
  <div class="proj-block">
    <div class="proj-header">
      <div class="proj-imgwrap">
        <img src="/assets/img/{{p.image}}" />
      </div>
      <div class="proj-title">
        {% if p.link != "" %}
          <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1421059">
            <h4>{{ p.title }}</h4>
          </a>
        {% else %}
          <h4>{{ p.title }}</h4>
        {% endif %}
      </div>
    </div>
    {{ p.description }}
  </div>
{% endfor %}
