---
layout: page
title: Publications
heading: Published Works
permalink: /publications/
order: 1
type: top-level
---
<table>

{% for p in site.data.publications %}
  {% if p.year != last_year %}
    {% assign last_year = p.year %}
    <tr><td class="pubs-year" colspan="2"><h3>{{last_year}}</h3></td></tr>
  {% endif %}


  <tr><td colspan="2" class="pubs-title">{{p.title}}</td></tr>

  <tr>
    <td class="pubs-label">publication:</td>
    <td>{{p.source}}</td>
  </tr>

  <tr>
    <td class="pubs-label">authors:</td>
    <td>{{p.authors}}</td>
  </tr>
  {% if p.download != "" %}
    <tr>
      <td class="pubs-label">document:</td>
      <td colspan="2">[
        <a target="_blank" href="/assets/papers/{{p.download}}" title="View PDF">
          <img class="pubs-pdf" src="/assets/img/pdf_icon.gif" alt="PDF Document">View the PDF</a>
      ] </td>
    </tr>
  {% endif %}
  <tr><td><br><br></td><tr/>
{% endfor %}
</table>

